<div class="container text-center align-items-center justify-content-center mt-5">
  <% if @user %>
    Bienvenido, se encuentra logueado como <%= @user.name %> <span><%= button_to "Cerrar sesión", logout_path, method: :delete %></span>
  <% end %>
</div>